<div class="password-strength-meter">
  <div class="meter-section rounded me-2"></div>
  <div class="meter-section rounded me-2"></div>
  <div class="meter-section rounded me-2"></div>
  <div class="meter-section rounded me-2"></div>
  <div class="meter-section rounded"></div>
</div>
<div class="mb-3">
  <small>{{ 'Use 12 or more characters with a mix of letters, numbers & symbols'|trans }}</small>
</div>
