{% extends 'base.html.twig' %}

{% block header_title %}
    <h1>{{ 'profile'|trans|ucfirst }} </h1>
{% endblock %}

{% block main %}
    <div class="container">
        {{ include('user/_profile_navigation.html.twig') }}
        ...
    </div>
{% endblock %}
